---
layout: default
title: Articles Written by Andrew Andrade 
---
<script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>



<div class="row-fliud">
    <div class="span8">
        {% include JB/setup %}

        {% assign posts_collate = site.posts %}
        {% include JB/posts_collate %}
    </div>
    <div class="span4">
        <div>
            <h2> Welcome!</h2>
            <p> Welcome to <a href="http://mrandrewandrade.com">Andrew Andrade's</a> blog!  Here I post articles written by me generally about Technology, <a href="http://mrandrewandrade.com/blog/categories.html#start-ups-ref">Start-ups</a>, Mechatronics, Management Sciences, Robotics, Energy, Machine Learning, Statistics, Economics, Travel Stories and anything I find interesting! Please note, I don't usually proof read what I write, so if you find
            an error, you can send me a [pull request](http://github.com/mrandrewandrade/blog) or annotate it using [genius](http://genius.com). 
            <div class="categories">
                <h2>Article Categories</h2>
                <ul class="tag_box">
                    {% assign categories_list = site.categories %}
                    {% include JB/fp_categories_list %}
                </ul>
            </div>
            <div class="tags">
                <h2>Article Tags</h2>
                <ul class="tag_box">
                    {% assign tags_list = site.tags %}
                    {% include JB/fp_tags_list %}
                </ul>
            </div>
            <div>
                <h2>Recent Posts</h2>
                <ul>
                    {% for post in site.posts limit:5 %}
                    <li>
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
                    {{ post.excerpt | strip_html }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
